body {
    margin: 0;
    padding: 0;
    background-image: url(/images/pexels-eberhard-grossgasteiger-1624496.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    
}

h1 {
    text-align: center;
    color:white;
    position: relative;
}



p {
  color:white;
    position: relative;
    text-align: center;
    font-size: large;
}

.container{
  margin: 35vh;
  font-family: 'Roboto Mono', monospace;
}