body {
    margin: 0;
    padding: 0;
    background-image: url(/images/pexels-eberhard-grossgasteiger-1624496.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    
}

h1 {
    text-align: center;
    color:white;
    position: relative;
}



p {
  color:white;
    position: relative;
    text-align: center;
    font-size: large;
}

.container{
  margin: 40vh;
  font-family: 'Roboto Mono', monospace;
}


.navbar .navbar-nav .nav-link {
  color: #000000;
  font-size: 1.1em;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color:white;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}

